:root{
    --background-color: hsl(47, 88%, 63%);
    --card-color: hsl(0, 0%, 100%);
    --description-color: hsl(0, 0%, 42%);
}
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    text-align: left;
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Figtree',system-ui,sans-serif;
}
.topic-label{
    background-color: var(--background-color);
    margin-top: 15px;
    padding: 5px;
    font-weight: bold;
    width: 100%;
    max-width: 80px;
    border-radius: 5px;
    text-align: center;
}
.preview-container{
    margin-inline: auto;
    width: 100%;
    max-width: 360px;
    border-radius: 20px;
    background-color: var(--card-color);
    padding: 20px;
    box-shadow: 
        0 0 0 1px #000,
        8px 10px #000;

    & .article-illustration{
        display: block;
        max-width: 100%;
        border-radius: 10px;
    }

    & time{
        display: block;
        margin-block: 1em;
        font-size: 14px;
        font-weight: 500;
    }

    & h2{
        margin-top: 12px;
    }

    & h2:hover{
        color: var(--background-color);
        cursor: pointer;
    }

    & .preview-description{
        color: var(--description-color);
        font-size: 16px;
    }
}
.author{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;

    & .image-avatar{
        width: 30px;
    }
}